/*  */
.el-button {
  padding: 8px 4px !important;
}

html,
body {
  height: 100%;
  font-size: 14px;
}
#app {
  height: 100%;
  overflow: hidden;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cursor {
  cursor: pointer;
}
.txt-c {
  text-align: center;
}
.w100p {
  width: 100%;
}
.ml10 {
  margin-left: 10px;
}
.mr10 {
  margin-right: 10px;
}
.red {
  color: #ff0000;
}
.green {
  color: #4caf50;
}
.fz48 {
  font-size: 36px !important;
}
.fz32 {
  font-size: 32px !important;
}
.fz24 {
  font-size: 24px !important;
}
.fz22 {
  font-size: 22px !important;
}
.fz20 {
  font-size: 20px !important;
}
.fz18 {
  font-size: 18px !important;
}
.fz16 {
  font-size: 16px !important;
}
.fz14 {
  font-size: 14px !important;
}
.fw {
  font-weight: bold;
}
.cof {
  color: #fff;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-button {
  background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #c9c9c9;
  border-radius: 5px;
}

.kva-container {
  padding: 5px;
  overflow: hidden;
}
.kva-contentbox {
  background: #fff;
  padding: 15px;
}
.kva-pagination-box {
  margin-top: 15px;
  display: flex;
}
.kva-pagination-box.left {
  justify-content: flex-start;
}
.kva-pagination-box.center {
  justify-content: center;
}
.kva-pagination-box.right {
  justify-content: flex-end;
}
.kva-form-search {
  border-bottom: 1px solid #e7e7e7;
}

@media screen and (max-width: 664px) {
  .lang,
  .fullbox {
    display: none;
  }
}

.page {
  height: calc(100vh - 90px);
  overflow: auto;
  background: #f0f2f5;
}

.page .gva-card-box {
  padding: 12px 16px;
}

.page .gva-card-box + .gva-card-box {
  padding-top: 0;
}

.page .gva-card {
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 2px;
  height: auto;
  padding: 26px 30px;
  overflow: hidden;
  box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.03);
}

.page .gva-top-card {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #777;
}

.page .gva-top-card-left {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.page .gva-top-card-left-title {
  font-size: 22px;
  color: #343844;
}

.page .gva-top-card-left-dot {
  font-size: 16px;
  color: #6b7687;
  margin-top: 24px;
}

.page .gva-top-card-left-rows {
  margin-top: 18px;
  color: #6b7687;
  width: 600px;
  align-items: center;
}

.page .gva-top-card-left-item {
  margin-top: 14px;
}

.page .gva-top-card-left-item + .gva-top-card-left-item {
  margin-top: 24px;
}

.page .gva-top-card-right {
  height: 600px;
  width: 600px;
  margin-top: 28px;
}

.page .el-card__header {
  padding: 0;
  border-bottom: none;
}

.page .card-header {
  padding-bottom: 20px;
  font-weight: bold;
  font-size: 16px;
  border-bottom: 1px solid #e8e8e8;
}

.page .quick-entrance-title {
  height: 30px;
  font-size: 22px;
  color: #333;
  width: 100%;
  border-bottom: 1px solid #eee;
}

.page .quick-entrance-items {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.page .quick-entrance-items .quick-entrance-item {
  padding: 16px 28px;
  margin-top: 16px;
  margin-bottom: -16px;
  border-radius: 4px;
  transition: all 0.2s;
  cursor: pointer;
  height: auto;
  text-align: center;
}

.page .quick-entrance-items .quick-entrance-item:hover {
  box-shadow: 0 0 7px rgba(217, 217, 217, 0.55);
}

.page .quick-entrance-items .quick-entrance-item-icon {
  width: 50px;
  height: 50px !important;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.page .quick-entrance-items .quick-entrance-item-icon i {
  font-size: 24px;
}

.page .quick-entrance-items .quick-entrance-item p {
  margin-top: 10px;
}

.page .echart-box {
  padding: 14px;
}

.dashboard-icon {
  font-size: 20px;
  color: #55a0f8;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.flex-center {
  display: flex;
  align-items: center;
}

@media (max-width: 750px) {
  .gva-card {
    padding: 20px 10px !important;
  }

  .gva-card .gva-top-card {
    height: auto;
  }

  .gva-card .gva-top-card-left-title {
    font-size: 20px !important;
  }

  .gva-card .gva-top-card-left-rows {
    margin-top: 15px;
    align-items: center;
  }

  .gva-card .gva-top-card-right {
    display: none;
  }

  .gva-card .gva-middle-card-item {
    line-height: 20px;
  }

  .gva-card .dashboard-icon {
    font-size: 18px;
  }
}

.commit-table {
  background-color: #fff;
  height: 400px;
}

.commit-table-title {
  font-weight: 600;
  margin-bottom: 12px;
}

.commit-table .log-item {
  display: flex;
  justify-content: space-between;
  margin-top: 14px;
}

.commit-table .log-item .key-box {
  justify-content: center;
}

.commit-table .log-item .key {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #f0f2f5;
  text-align: center;
  color: rgba(0, 0, 0, 0.65);
}

.commit-table .log-item .key.top {
  background: #314659;
  color: #fff;
}

.commit-table .log-item .message {
  color: rgba(0, 0, 0, 0.65);
}

.commit-table .log-item .form {
  color: rgba(0, 0, 0, 0.65);
  margin-left: 12px;
}

.commit-table .log-item .flex {
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.commit-table .log-item .flex-1 {
  flex: 1;
}

.commit-table .log-item .flex-2 {
  flex: 2;
}

.commit-table .log-item .flex-3 {
  flex: 3;
}

.commit-table .log-item .flex-4 {
  flex: 4;
}

.commit-table .log-item .flex-5 {
  flex: 5;
}
